.section {
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 2rem;
  text-align: left;
}

.subtitle {
  margin: -1rem 0 2rem;
  text-align: left;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}
