.container {
  padding: 0 2rem;
}

.title {
  margin: 4rem 0;
  text-align: center;
}

.intro {
  font-size: 1.25rem;
  margin: -1.5rem 0 2rem;
}

.section {
  margin-bottom: 4rem;
}

.content {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.methodology {
  max-width: 75rem;
}

.methodology h2 {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}
